mixin intro()
  section.intro
    .container
      .intro__content
        h1.intro__title Lorem ipsum dolor sit amet
        p.intro__text sed do eiusmod tempor 
        ul.intro__list
          li.intro__item
            span.intro__item-icon
              +icon("icon-check", 39, 37)
            p.intro__item-text do <span>$10 000</span> consectetur elit
          li.intro__item
            span.intro__item-icon
              +icon("icon-check", 39, 37)
            p.intro__item-text <span>30%</span> sed do eiusmod tempor 
          li.intro__item
            span.intro__item-icon
              +icon("icon-check", 39, 37)
            p.intro__item-text do <span>17%</span> adipiscing elit sed do
        +btn({href: "#", text: "order"})
      .intro__img
        +img("content", "img", "jpg", 763, 1009, "Изображение")
