.header {
  position: relative;
  padding: 0 3px;
}

.header .container {
  display: flex;
}

.header__inner {
  position: fixed;
  display: flex;
}

.header__logo {
  font-weight: 400;
  font-size: 36px;
  line-height: 150%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $color-default-white;
}
